@model IEnumerable<Tag>

@{
    ViewBag.Title = "Tags";
    Layout = "_Layout";
}

<h2>title</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Text)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Text)
            </td>
            <td>
                <a asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you sure want to delete this tag');">Delete</a>
            </td>
        </tr>
    }
    </tbody>
</table>