@model QuoteBlock

<div class="col-md-12 block quote-block">
    <div class="block-header">
        <img class="handle" src="~/images/dragndrop-handle.svg" />

        <span class="expand"></span>

        <strong>Quote: </strong>
        &nbsp; @Model.Author

        <span class="modifiedat" title="Last modified date">
            @Model.LastModified.ToString("dd MMM, yyyy HH:mm")
        </span>

        <span class="delete"></span>
    </div>
    <div class="block-content">
        <div>
            <div class="form-group">
                <label asp-for="Author" class=""></label>
                <input asp-for="Author" class="form-control" placeholder="Author..."/>
                <span asp-validation-for="Author" class="invalid-feedback"></span>
            </div>

            <div class="form-group">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" class="form-control" placeholder="Content..."></textarea>
            </div>
        </div>
    </div>
</div>
