@model TextBlock

<div class="col-md-12 block text-block">
    <div class="block-header">
        <img class="handle" src="~/images/dragndrop-handle.svg" />

        <span class="expand"></span>

        <strong>Text: </strong>
        &nbsp;
        <span>@Model.Text.Substring(0, 15)...</span>

        <span class="modifiedat" title="Last modified date">
            @Model.LastModified.ToString("dd MMM, yyyy HH:mm")
        </span>

        <span class="delete"></span>
    </div>
    <div class="block-content">
        <div>
            <div class="form-group">
                <label asp-for="Text"></label>
                <textarea asp-for="Text" id="" class="form-control" placeholder="Content..."></textarea>
            </div>
        </div>
    </div>
</div>
