@model TextBlock

<div class="row">
    <div class="col-md-12 block text-block" data-id="@Model.Id">
        <div class="block-header">
            <img class="handle" src="~/images/dragndrop-handle.svg" />

            <span class="expand"></span>

            <strong>Text: </strong>
            &nbsp;
            <span class="block-title">@Model.Text?.Substring(0, Math.Min(15, Model.Text.Length))...</span>

            <span class="modifiedat" title="Last modified date">
                @Model.LastModified.ToString("dd MMM, yyyy HH:mm")
            </span>

            <span class="delete"></span>
        </div>
        <div class="block-content">
            <form asp-controller="Blocks" asp-action="Text">
                <input type="hidden" name="type" value="text"/>
                <input type="hidden" name="Id" value="@Model.Id"/>
                <input type="hidden" asp-for="Date"/>
                <input type="hidden" asp-for="Order"/>

                <div class="form-group">
                    <label asp-for="Text"></label>
                    <textarea asp-for="Text" id="" class="form-control" placeholder="Content..."></textarea>
                </div>
            </form>
        </div>
    </div>
</div>
