<div class="modal fade" id="chooseBlockModal" tabindex="-1" role="dialog" aria-labelledby="chooseBlockModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="chooseBlockModalLabel">Kies een item om toe te voegen</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="container-fluid text-center">
                    <div class="row">
                        <div class="col-md-6 mt-4 block-choice" data-block="Text">
                            <h4>Tekst</h4>
                            <div class="thumbnail">
                                <img src="~/images/blocks/text.jpg" class="mw-100" />
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 block-choice" data-block="Quote">
                            <h4>Quote</h4>
                            <div class="thumbnail">
                                <img src="~/images/blocks/quote.jpg" class="mw-100"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 block-choice" data-block="Carousel">
                            <h4>Carousel</h4>
                            <div class="thumbnail">
                                <img src="~/images/blocks/carousel.jpg" class="mw-100"/>
                            </div>
                        </div>
                        <div class="col-md-6 mt-4 block-choice" data-block="SolutionAdvantages">
                            <h4>Solution Advantages</h4>
                            <div class="thumbnail">
                                <img src="~/images/blocks/solution.jpg" class="mw-100"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-footer justify-content-start">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Sluiten</button>
            </div>
        </div>
    </div>
</div>
