<header class="d-block">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="The Consultancy Firm" class="logo navbar-brand" /></a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="menu-bars-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span>Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <div class="navbar-content">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Home" asp-action="Index" data-title="Bekijk de Website" target="_blank">Bekijk de Website</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" active-controller="Manage" asp-controller="Manage" asp-action="Index" data-title="Mijn Account">Mijn Account</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-area="" asp-controller="Account" asp-action="Logout" data-title="Uitloggen">Uitloggen</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
