@model List<Tuple<int,string>>
<div class="dashboard-buttons mb-3">
    <a class="dashboard-button" id="create-item" onclick="showCreationModal()">
        Nieuw item toevoegen
        <i class="icon-badge fa fa-plus"></i>
    </a>
    @if (ViewBag.ShowDisabled)
    {
        <a asp-action="Index" class="dashboard-button">
            Verberg disabled items
            <i class="icon-badge fa fa-check-square-o"></i>
        </a>
    }
    else
    {
        <a href="@Url.Action("Index", new {showDisabled = true})" class="dashboard-button">
            Toon disabled items
            <i class="icon-badge fa fa-square-o"></i>
        </a>
    }
    <a asp-action="Deleted" class="dashboard-button">
        Bekijk verwijderde items
        <i class="icon-badge fa fa-trash-o"></i>
    </a>
</div>

<div class="modal fade" id="createModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form asp-action="TranslationChoice">
                <div class="modal-header">
                    <h5 class="modal-title">Wil je een vertaling toevoegen?</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>
                        <input type="radio" name="choice" value="0" id="modalNo"> Nee, ik wil een nieuw item toevoegen<br>
                        <input type="radio" name="choice" value="1" id="modalYes"> Ja, ik wil een vertaling toevoegen<br>
                        <div class="form-group d-none" id="selectBox">
                            <label for="selectBox">Selecteer item</label>
                            <select class="form-control" name="selectBox">
                                <option disabled="" value="0" selected="">Kies item</option>
                                
                                @foreach (var item in Model)
                                {
                                    <option value="@item.Item1">@item.Item2</option>
                                }
                            </select>
                        </div>
                    </p>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-secondary">Selecteer</button>
                </div>
            </form>
        </div>
    </div>
</div>
