<div class="dashboard-buttons mb-3">
    <a asp-action="Create" class="dashboard-button" id="create-item">
        Nieuw item Toevoegen
        <i class="icon-badge fa fa-plus"></i>
    </a>
    @if (ViewBag.ShowDisabled)
    {
        <a asp-action="Index" class="dashboard-button">
            Verberg disabled items
            <i class="icon-badge fa fa-check-square-o"></i>
        </a>
    }
    else
    {
        <a href="@Url.Action("Index", new {showDisabled = true})" class="dashboard-button">
            Toon disabled items
            <i class="icon-badge fa fa-square-o"></i>
        </a>
    }
    <a asp-action="Deleted" class="dashboard-button">
        Bekijk verwijderde items
        <i class="icon-badge fa fa-trash-o"></i>
    </a>
</div>
