<aside>
    <nav>
        <div class="toc-item">
            <a active-controller="Home" asp-controller="Home" asp-action="Index">Dashboard <i class="fa fa-fw fa-dashboard"></i></a>
        </div>

        <div class="toc-item">
            <a active-controller="Users" asp-controller="Users" asp-action="Index">Gebruikers <i class="fa fa-fw fa-user"></i></a>
        </div>

        <div class="toc-item" active-controller="Contacts,Homepage,Newsletter">
            <span>Website <i class="fa fa-fw fa-cubes"></i></span>
            <ul>
                <li>
                    <a active-controller="Contacts" asp-controller="Contacts" asp-action="Index">Berichten <span class="badge"></span></a>
                </li>
                <li>
                    <a active-controller="Homepage" asp-controller="Homepage" asp-action="Index">Homepage</a>
                </li>
                <li>
                    <a active-controller="Newsletter" asp-controller="Newsletter">Nieuwsbrief</a>
                </li>
            </ul>
        </div>

        <div class="toc-item" active-controller="Cases,Solutions,News,Downloads,Customers,Tags">
            <span>Content <i class="fa fa-fw fa-archive"></i></span>
            <ul>
                <li>
                    <a active-controller="Cases" asp-controller="Cases" asp-action="Index">Cases</a>
                </li>
                <li>
                    <a active-controller="Solutions" asp-controller="Solutions" asp-action="Index">Solutions</a>
                </li>
                <li>
                    <a active-controller="News" asp-controller="News" asp-action="Index">Nieuws</a>
                </li>
                <li>
                    <a active-controller="Downloads" asp-controller="Downloads" asp-action="Index">Downloads</a>
                </li>
                <li>
                    <a active-controller="Customers" asp-controller="Customers" asp-action="Index">Klanten</a>
                </li>
                <li>
                    <a active-controller="Tags" asp-controller="Tags" asp-action="Index">Tags</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
