<aside>
    <nav>
        <div class="toc-item">
            <a asp-controller="Home" asp-action="Index" class="active">Dashboard <i class="fa fa-fw fa-dashboard"></i></a>
        </div>

        <div class="toc-item">
            <a asp-controller="Users" asp-action="Index">Gebruikers <i class="fa fa-fw fa-user"></i></a>
        </div>

        <div class="toc-item">
            <span >Website <i class="fa fa-fw fa-cubes"></i></span>

            <ul>
                <li>
                    <a asp-controller="Contact" asp-action="Index">Berichten <span class="badge">2</span></a>
                </li>
                <li>
                    <a asp-controller="Homepage" asp-action="Index">Homepage</a>
                </li>
                <li>
                    <a asp-controller="Newsletter">Nieuwsbrief</a>
                </li>
            </ul>
        </div>

        <div class="toc-item">
            <span >Content <i class="fa fa-fw fa-archive"></i></span>

            <ul>
                <li>
                    <a asp-controller="Cases" asp-action="Index">Cases</a>
                </li>
                <li>
                    <a asp-controller="Solutions" asp-action="Index">Solutions</a>
                </li>
                <li>
                    <a asp-controller="News" asp-action="Index">Nieuws</a>
                </li>
                <li>
                    <a asp-controller="Downloads" asp-action="Index">Downloads</a>
                </li>
                <li>
                    <a asp-controller="Customers" asp-action="Index">Klanten</a>
                </li>
            </ul>
        </div>
    </nav>
</aside>
