root = true

[*.cmd]
charset = utf-8
indent_size = 2
indent_style = space
end_of_line = crlf

[*.md]
charset = utf-8
indent_size = 4
indent_style = space
trim_trailing_whitespace = false
insert_final_newline = true

[*.sln]
charset = utf-8-bom
indent_size = 4
indent_style = tab
end_of_line = crlf

[*.yml]
charset = utf-8
indent_size = 2
indent_style = space
trim_trailing_whitespace = true
insert_final_newline = true
