html,
body {
    height: 100%;
    overflow:hidden;
}

body {
    display: flex;
    flex-direction: column;
}

.dashboard-container {
    flex: auto;
    display: flex;
    flex-direction: row;
    min-height: 0;

    > .row {
        flex: auto;
    }
}

.dashboard-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
    overflow: auto;
    position: relative;
    height: 100%;
}

.custom-file-input:focus + .custom-file-label {
    color: #495057;
    background-color: #fff;
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.custom-file-label {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding-right: 80px;
}
