
@{
    ViewData["Title"] = "Send";
}

<meta http-equiv="refresh" content="2; url=@Url.Action("Index","Newsletters")">

<h2>De nieuwsbrief is succesvol verzonden</h2>


<img src="~/images/mailsend.gif" />
