@import '../variables';

$toggle-width: 60px / 3;
$toggle-height: 45px / 3;
$bar-height: $toggle-height / 5;

header {
    height: 100px;

    .nav-item {
        margin-left: 10px;
    }

    .nav-link {
        font: 21px/24px Ubuntu, sans-serif;
        color: $blackLink !important;
        text-align: center;

        &:hover {
            font-weight: $medium;
        }

        &::after {
            display: block;
            content: attr(data-title);
            font-weight: $medium;
            height: 0;
            overflow: hidden;
            visibility: hidden;
        }
    }

    .navbar {
        background: $white;
        z-index: 99;
    }

    .navbar-toggler {
        font: 21px/24px Ubuntu, sans-serif;
        border: 0;
        color: $blackLink !important;

        &:focus,
        &:active {
            outline: none;
        }

        .menu-bars-toggle {
            display: inline-block;

            span {
                transform-origin: left center;

                &:nth-child(1) {
                    transform: rotate(45deg);
                    top: $toggle-height * -.0666666;
                    left: $toggle-width * .1333333;
                }

                &:nth-child(2) {
                    width: 0;
                    opacity: 0;
                }

                &:nth-child(3) {
                    transform: rotate(-45deg);
                    top: $toggle-height * .8666666;
                    left: $toggle-width * .1333333;
                }
            }
        }

        &.collapsed .menu-bars-toggle span {
            &:nth-child(1) {
                transform: none;
                top: $bar-height * 0;
                left: 0;
            }

            &:nth-child(2) {
                top: $bar-height * 2;
                width: 100%;
                opacity: 1;
            }

            &:nth-child(3) {
                transform: none;
                top: $bar-height * 4;
                left: 0;
            }
        }
    }

    .menu-toggle {
        display: flex;
        font: 21px/24px Ubuntu, sans-serif;
        width: 90px;
        transition: width .3s ease-in-out;
        white-space: nowrap;
        overflow: hidden;

        &:hover {
            cursor: pointer;
        }

        .menu-bars-toggle {
            display: inline-block;
        }
    }

    @media screen and (min-width: $break-large) {
        .navbar-nav.overflow {
            width: 0;
            white-space: nowrap;
            overflow: hidden;
            transition: width .3s ease-in-out;
        }

        .navbar-content {
            display: flex;
            align-items: center;
            align-self: flex-end;
        }

        .navbar-collapse {
            flex-direction: column;

            &.open {
                .menu-toggle {
                    width: 30px;
                }

                .navbar-nav.overflow {
                    width: 447px;
                }
            }
        }
    }
}

.search {
    display: flex;
    flex-wrap: nowrap;

    .searchbox {
        position: relative;
        margin: 0;
        flex: auto;
    }

    input {
        position: relative;
        width: 100% !important;
        font: 21px/24px Ubuntu, sans-serif;
        color: $black;
        outline: none !important;
        border: 0;
        border-bottom: 1px solid $darkGrey;
        border-radius: 0;
        margin-right: 10px !important;
        padding-left: 0;
        padding-right: 0;

        &:focus,
        &:active {
            box-shadow: none;
            border-color: $darkGrey;
        }

        &::after {
            position: absolute;
            right: 0;
            top: 0;
            content: '\f05c';
            font-family: FontAwesome, sans-serif;
        }
    }

    .fa-times {
        position: absolute;
        top: 10px;
        right: 7px;
        font-size: 21px;
        opacity: 0;
        transform: translateX(10px);
        transition: all .2s ease-in-out 0s;
        pointer-events: none;

        &:hover {
            cursor: pointer;
        }
    }

    .fa-search {
        font-size: 21px;
        line-height: 24px;
    }

    .fa-search:hover {
        cursor: pointer;
    }

    button {
        background: transparent;
        border: 0;

        &:focus,
        &:active {
            outline: none;
        }
    }

    @media screen and (min-width: $break-large) {
        .searchbox {
            transition: margin-right .3s ease-in-out;
        }

        input {
            width: 0 !important;
            transition: all .3s ease-in-out;
            margin-right: 0 !important;
        }

        &.open {
            .searchbox {
                margin-right: 10px;
            }

            input {
                width: 377px !important;
                padding-right: 30px !important;
            }

            .fa-times {
                opacity: 1;
                transform: translateX(0);
                transition: all .2s ease-in-out .1s;
                pointer-events: all;
            }
        }
    }
}

.lang-select {
    text-align: right;
    text-decoration: underline;
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    align-self: flex-end;
    justify-content: flex-end;

    li {
        padding-left: 15px;
    }

    a {
        color: $blackLink;

        &:hover {
            text-decoration: none;
            color: $blackLink;
        }
    }
}

.menu-bars-toggle {
    width: $toggle-width;
    height: $toggle-height;
    position: relative;
    transform: rotate(0deg);
    transition: .3s ease-in-out;
    cursor: pointer;
    margin: 0 10px 0 auto;

    span {
        display: block;
        position: absolute;
        height: $bar-height;
        width: 100%;
        background: $black;
        border-radius: $bar-height;
        opacity: 1;
        left: 0;
        transform: rotate(0deg);
        transition: .25s ease-in-out;

        &:nth-child(1) {
            top: $bar-height * 0;
            transform-origin: left center;
        }

        &:nth-child(2) {
            top: $bar-height * 2;
            transform-origin: left center;
        }

        &:nth-child(3) {
            top: $bar-height * 4;
            transform-origin: left center;
        }
    }

    .open & span {
        &:nth-child(1) {
            transform: rotate(45deg);
            top: $toggle-height * -.0666666;
            left: $toggle-width * .1333333;
        }

        &:nth-child(2) {
            width: 0;
            opacity: 0;
        }

        &:nth-child(3) {
            transform: rotate(-45deg);
            top: $toggle-height * .8666666;
            left: $toggle-width * .1333333;
        }
    }
}
