.image {
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;
    max-width: 100%;

    &:hover {
        filter: none;
    }
}

.ourCustomers {
    .introtext {
        text-align: center;
        margin-bottom: 100px;
    }
}

#allcaseslink {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    font-style: italic;
}
