.image {
    filter: grayscale(100%);
    transition: filter .3s ease-in-out;
    max-width: 100%;

    &:hover {
        filter: none;
    }
}

.ourCustomers {
    margin-top:30px;
    .introtext {
        text-align: center;
    }
}

.customerImages {
    justify-content:center;
    margin-bottom:30px;
}
#allcaseslink {
    width: 100%;
    justify-content: center;
    font-style: italic;
}
