@import '../variables';

.servicepanel {
    height: 560px;
    background-color: $black;
    padding: 35px 20px;
    color: $white;

    h3 {
        font-weight: $regular;
        border-bottom: 1px solid gray;
        padding-bottom: 30px;
    }

    h5 {
        font-weight: $light;
    }

    .service {
        width: 100%;
        padding-bottom: 8px;
        padding-top: 8px;
        border-bottom: 1px solid gray;
        display: flex;
        position: relative;
        padding-right: 40px;

        @media screen and (min-width: $break-small) {
            padding-bottom: 20px;
            padding-top: 20px;
        }

        h5::after {
            content: '';
            background: url(/images/right-arrow-white.svg);
            background-repeat: no-repeat;
            background-position: right;
            background-size: contain;
            position: absolute;
            width: 25px;
            height: 25px;
            top: 8px;
            right: 0;

            @media screen and (min-width: $break-small) {
                width: 40px;
                height: 40px;
                top: 15px;
            }
        }
    }

    a {
        color: $white;
        text-decoration: none;

        &:hover {
            color: $grey;
            cursor: pointer;
        }
    }

    @media screen and (max-width: $break-medium - 1px) {
        h5 {
            font-size: 16px;
        }
    }

    @media screen and (min-width: $break-medium) {
        height: 690px;
        padding: 75px;
    }
}

#serviceouterdiv {
    height: 800px;
    background-image: url(/images/office-design.jpg);
    background-size: cover;
    background-position-y: 50px;
    background-repeat: no-repeat;

    @media screen and (max-width: $break-large - 1px) {
        background: none;
        height: 690px;
    }

    @media screen and (max-width: $break-medium - 1px) and (min-width: $break-small) {
        height: 560px;
    }
}
