@import '../variables';

.vacancyContainer {
    text-align: center;
    margin-bottom: 60px;

    a{
        text-decoration:none;
    }
}

.vacancy {
    margin-bottom: 20px;
    box-shadow: 0 2px 13px 4px $grey;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    overflow: hidden;

    img {
        height: 20px;
        padding-left: 20px;
        width: auto;
    }

    .description {
        white-space: nowrap;
        margin-bottom: 0;
        color: $black;
        margin-right: auto;
    }

    .date {
        white-space: nowrap;
        margin-bottom: 0;
        margin-right: 20px;
        color: $grey;
    }
}
