@import '../variables';

.paging {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            display: inline;
            font-size: 20px;
            margin: 0 5px;
            font-weight: $bold;

            a {
                color: $black;

                &:hover {
                    color: $orange;
                    cursor: pointer;
                }

                &.disabled {
                    color: $grey;
                }
            }
        }
    }
}

#paging {
    margin-top: 30px;
    margin-bottom: 70px;

    .pagearrow {
        padding: 15px;
        border-radius: 100%;
        box-shadow: 0 0 1px 3px #f7f7f7;
        color: $black;

        &:hover {
            background-color: $orange;
            box-shadow: 0 0 1px 3px #fbcf9d;
            cursor: pointer;
            color: $white;
            text-decoration: none;
        }
    }
}
