@import '../variables';

blockquote {
    padding-left: 10%;
    margin-bottom: 2rem;
    color: $black;

    .author {
        display: flex;
        align-items: center;
        margin-bottom: 1rem;

        i {
            color: $orange;
            font-size: 24px;
        }

        p {
            position: relative;
            color: $darkGrey;
            padding-left: 20px;
            margin: 0 0 0 10px;

            &::before {
                content: '';
                position: absolute;
                left: 0;
                width: 15px;
                height: 2px;
                top: 50%;
                margin-top: -1px;
                background: silver;
            }

            &:empty::before {
                content: none;
            }
        }
    }
}
