</div>
<div class="container-fluid">
    <div style="margin: 0 auto;">
        <img style="  max-width: 100%" src="images/rotterdam-skyline.jpg" alt="Not found" />
    </div>
</div>
<div class="container">