@*@model ...*@

<div class="col-md-4 caseoverview">
    <div class="innercaseoverview">
        <div>
            27 september 2017
        </div>
        <div>
            <h3>
                Vertaling van uw business naar een technische oplossing
            </h3>
        </div>
        <div>
            <a class="buttonHover">LEES MEER</a>
        </div>
    </div>
</div>