@*@model ...*@

<div class="col-md-4 caseoverview">
    <div class="innercaseoverview">
        27 september 2017
        <h3>
            Vertaling van uw business naar een technische oplossing
        </h3>
        <a class="buttonHover">LEES MEER</a>
    </div>
</div>