<div class="cookiecontainer">
    Om de website goed te laten functioneren maken we gebruik van cookies.
    <button type="button" class="btn btn-sm">akkoord</button>
    <i class="fa fa-times"></i>
</div>