<div class="container">
    <div class="row ">
        <div class="col">
            <h1 class="d-flex justify-content-center">Ojee :(</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="d-flex justify-content-center">Helaas ging er iets mis! Gebruik het menu terug te keren naar een pagina.</p>
        </div>
    </div>
</div>