<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h1 class="text-center">@ViewBag.Title</h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p class="text-center introtext">
                Helaas ging er iets mis!<br/>
                Gebruik het menu terug te keren naar een pagina.
            </p>
        </div>
    </div>
</div>
