<div class="floatingButton" onclick="showPopup()">
    <div class="container floatingBtn">
        <div data-toggle="popover" class="btn popovers"
             data-content="<a href='tel:555-555-5555' target='_blank'>Call Us</a>"
             data-html="true">
            <img src="~/images/phone.png" alt="Phone">
        </div>
    </div>
</div>
