<div class="floatingButton">
    <div data-toggle="popover"
            data-content="<a href='tel:555-555-5555' target='_blank'>Call Us: 555-555-5555</a>"
            data-html="true">
        <img src="~/images/phone.svg" alt="Phone">
    </div>
</div>

