@{
    ViewData["Title"] = "FooterPartial";
}

<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <h3>tcf.</h3>
                <ul>
                    <li>Cases</li>
                    <li>Over tcf</li>
                    <li>Nieuws</li>
                    <li>Downloads</li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Solutions.</h3>
                <ul>
                    <li>Document Wizard</li>
                    <li>Social.ice</li>
                    <li>OpenText Extream</li>
                    <li style="font-style: italic;">
                        <a>Alle solutions
                            <img src="~/images/right-arrow.svg" alt="laad niet" class="arrow">
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <h3>Adres.</h3>
                <p>
                    Cypresbaan 47, 2908 LT
                    <br> Capelle aan den IJssel
                    <br> 010 - 264 01 44
                    <br> info@theconsultancyfirm.com
                    <br>
                </p>
                <p style="font-style: italic;">
                    <a>Ga naar contactpagina
                        <img src="~/images/right-arrow.svg" alt="laad niet" class="arrow">
                    </a>
                </p>
            </div>
        </div>
        <div class="row" id="FooterBottomRow">
            <div class="col-md-1"></div>
            <div class="col-md-3">
                <p style="font-style: italic;">
                    Platinum
                    <br> Benelux Partner
                </p>
            </div>
            <div class="col-md-4">
                <div class="box">
                    <p>
                        <a class="buttonHover">CUSTOMER CARE</a>
                    </p>
                </div>
            </div>
            <div class="col-md-4">
                <ul id="FooterSocialColum">
                    <li class="footerIcons" style="margin-right:30px">
                        <i class="fa fa-linkedin-square fa-2x" aria-hidden="true"></i>LinkedIn
                    </li>
                    <li class="footerIcons">
                        <i class="fa fa-twitter-square fa-2x" aria-hidden="true"></i>Twitter
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>