<header>
    <img src="images/logo.png" class="logo">

    <div class="menu-right">
        <div class="lang-select">
            <a href="#">English</a>
        </div>

        <div class="menu">
            <ul class="menu-visible">
                <li><a href="#" data-title="Cases">Cases</a></li>
                <li><a href="#" data-title="Solutions">Solutions</a></li>
            </ul>
            <ul class="menu-overflow">
                <li><a href="#" data-title="Over ons">Over ons</a></li>
                <li><a href="#" data-title="Nieuws">Nieuws</a></li>
                <li><a href="#" data-title="Downloads">Downloads</a></li>
                <li><a href="#" data-title="Contact">Contact</a></li>
            </ul>
            <ul>
                <li id="searchbar">
                    <input type="text" name="search" placeholder="Nieuwe zoekterm">
                    <i class="fa fa-times"></i>
                    <i class="fa fa-search"></i>
                </li>
                <li id="menu-toggle">
                    <div id="menu-bars-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span>Menu</span>
                </li>
            </ul>
        </div>
    </div>
</header>
