<header class="d-block">
    <nav class="navbar navbar-expand-lg navbar-light">
        <a asp-controller="Home" asp-action="Index"><img src="~/images/logo.png" alt="The Consultancy Firm" class="logo navbar-brand" /></a>

        <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarContent" aria-controls="navbarContent" aria-expanded="false" aria-label="Toggle navigation">
            <div class="menu-bars-toggle">
                <span></span>
                <span></span>
                <span></span>
            </div>
            <span>Menu</span>
        </button>

        <div class="collapse navbar-collapse" id="navbarContent">
            <ul class="lang-select">
                <li><a href="#">English</a></li>
                <li><a href="#">French</a></li>
            </ul>

            <div class="navbar-content">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" asp-controller="Cases" asp-action="Index" data-title="Cases">Cases</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-title="Solutions">Solutions</a>
                    </li>
                </ul>
                <ul class="navbar-nav overflow">
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-title="Over ons">Over ons</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="News" asp-action="Index" data-title="Nieuws">Nieuws</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" asp-controller="Downloads" asp-action="Index" data-title="Downloads">Downloads</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#" data-title="Contact">Contact</a>
                    </li>
                </ul>

                <form class="form-inline my-2 my-lg-0 mx-3 search">
                    <div class="searchbox">
                        <input class="form-control mr-sm-2" type="search" name="search" placeholder="Nieuwe zoekterm">
                        <i class="fa fa-times"></i>
                    </div>

                    <button class="my-2 my-sm-0" type="submit">
                        <i class="fa fa-search"></i>
                    </button>
                </form>

                <div class="menu-toggle d-none d-lg-block">
                    <div class="menu-bars-toggle">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <span>Menu</span>
                </div>
            </div>
        </div>
    </nav>
</header>
