@*@model ...*@

<div class="newsitem">
    <div class="innernewsitem flexcase" style="background-image: url(/images/home-office.jpg);">
        <p>27 september 2017</p>
        <h3>
            Vertaling van uw business naar een technische oplossing
        </h3>
        <a class="buttonHover" asp-controller="News" asp-action="Detail">LEES MEER</a>
    </div>
</div>