<div id="newsletter" class="container-fluid">
    <div>
        <h2>
            Schrijf je in voor onze nieuwsbrief
        </h2>
        <p>
            Blijf op de hoogte van onze nieuwste solutions en cases door je<br>
            in te schrijven voor onze nieuwsbrief!
        </p>
        <form>
            <input type="text" name="search" placeholder="Email">
            <button type="submit">Inschrijven<img src="~/images/right-arrow-black.svg" alt="laad niet" class="arrow"></button>
        </form>
    </div>
</div>