@*@model ...*@

<div class="col-md-4 newsitem">
    <div class="innernewsitem flexcase" style="background-image: url(/images/home-office.jpg);">
        <p>27 september 2017</p>
        <h3>
            Vertaling van uw business naar een technische oplossing
        </h3>
        <a class="buttonHover">LEES MEER</a>
    </div>
</div>