@model NewsItem
@{
    var background = Model.PhotoPath == null ? "" : "background-image: url(" + Model.PhotoPath + ")";
}
<div class="newsitem">
    <div class="innernewsitem flexcase" style="@background">
        <p>@Model.Date.ToString("dd MMMM yyyy")</p>
        <h3>
            @Model.Title
        </h3>
        <a class="buttonHover" asp-controller="NewsItems" asp-action="Details" asp-route-id="@Model.Slug">LEES MEER</a>
    </div>
</div>
