@model List<Customer>
<div class="container container-wide ourCustomers">
    <div class="row customerImages">
        @foreach (var item in Model)
        {
            <div class="col-6 col-sm-4 col-md-3 col-lg-2">
                <img class="image" src="@item.LogoPath" alt="Not found"/>
            </div>       
        }
     </div>

    <a asp-controller="Cases" asp-action="Index" class="link-arrow link-more" id="allcaseslink">
        Bekijk cases
        <img src="~/images/right-arrow-black.svg" alt="Meer nieuws" />
    </a>
</div>
