<div class="introtext">
    <h1>Onze klanten</h1>
    <p>
        Met wederzijdse trots kunnen wij zeggen dat we vaste <br/>
        partners zijn van onderstaande ondernemingen.
    </p>
</div>
</div>
<div class="container-fluid">
    

    <div class="row logos">
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/achmea.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/centraalbeheer.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/fbto.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/MN.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/dsw.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/ohra.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/avero.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/inshared.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/interpolis.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/deltalloyd.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/vanhessen.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/movir.png" />
        </div>
        <div id="allcaseslink">
            <p>Bekijk Cases</p> <img src="images/right-arrow.svg" alt="laad niet" class="arrow">        
        </div>
    </div>
   
</div>
<div class="container">
<div class="introtext">
    

</div>
