<div class="introtext">
    <h2>Onze klanten</h2>
    Met wederzijdse trots kunnen wij zeggen dat we vaste <br/>
    partners zijn van onderstaande ondernemingen.
</div>
</div>
<div class="container-fluid">
    

    <div class="row logos">
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/achmea.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/centraalbeheer.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/fbto.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/MN.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/dsw.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/ohra.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/avero.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/inshared.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/interpolis.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/deltalloyd.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/vanhessen.png" />
        </div>
        <div class="col-6 col-sm-4 col-md-3 col-lg-2">
            <img class="image" src="images/CustomerLogos/movir.png" />
        </div>
        <div id="allcaseslink">
            <p>Bekijk Cases</p> <img src="images/right-arrow-black.svg" alt="laad niet" class="arrow">        
        </div>
    </div>
   
</div>
<div class="container">
