<div class="introtext">
    <h1>Onze klanten</h1>
    <p>
        Met wederzijdse trots kunnen wij zeggen dat we vaste <br/>
        partners zijn van onderstaande ondernemingen.
    </p>
</div>
</div>
<div class="container-fluid">
    

    <div class="row">
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/achmea.jpg" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/centraalbeheer.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/fbto.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/MN.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/dsw.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/ohra.jpg" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/avero.jpg" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/inshared.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/interpolis.jpeg" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/deltalloyd.jpg" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/vanhessen.png" />
        </div>
        <div class="col-sm-2">
            <img class="image" src="images/CustomerLogos/movir.jpg" />
        </div>
    </div>
</div>
<div class="container">
