@model List<ContentItem>
<div class="row">
    <div class="relatedtitle">
        <h2>Gerelateerd</h2>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
        var title = item.Title.Length > 35 ? item.Title.Substring(0, 35) + "..." : item.Title;

        <div class="col-md-4 relateditem">
            <div class="innerrelateditem flexcase" style="@(item.PhotoPath != null ? "background-image: url(" + item.PhotoPath + ")" : "")">
                <p>@Html.DisplayFor(_ => item.Type)</p>
                <h3>@title</h3>
                <a href="@Url.Action("Details", item.Type.ToString() + 's', new {id = item.Id})" class="buttonHover">LEES MEER</a>
            </div>
        </div>
    }
</div>
