<div class="row">
    <div class="relatedtitle">
        <h3>Gerelateerd</h3>
    </div>
</div>
<div class="row">
    <div class="col-md-4 relateditem">
        <div class="innerrelateditem flexcase">
            <p>Solution</p>
            <h3>Document Wizard</h3>
            <a class="buttonHover">LEES MEER</a>
        </div>
    </div>
    <div class="col-md-4 relateditem">
        <div class="innerrelateditem flexcase">
            <p>Solution</p>
            <h3>Zorg voor de juiste bestandstype per gebruiker</h3>
            <a class="buttonHover">LEES MEER</a>
        </div>
    </div>
    <div class="col-md-4 relateditem">
        <div class="innerrelateditem flexcase">
            <p>Download</p>
            <h3>Lorem ipsum dolar sumit avec</h3>
            <a class="buttonHover">LEES MEER</a>
        </div>
    </div>
</div>