<div class="row related-title">
    <h3>Gerelateerd</h3>
</div>
<div class="row related-row">
    <div class="col-md-4 related-item">
        <a href="#" title="Lees meer over Document Wizard" class="buttonHover">LEES MEER</a>
        <h3>Document Wizard</h3>
        <span>Solution</span>
    </div>
    <div class="col-md-4 related-item">
        <a href="#" title="Lees meer over Document Wizard" class="buttonHover">LEES MEER</a>
        <h3>Zorg voor de juiste bestandstype per gebruiker</h3>
        <span>Solution</span>
    </div>
    <div class="col-md-4 related-item">
        <a href="#" title="Lees meer over Document Wizard" class="buttonHover">LEES MEER</a>
        <h3>Document Wizard</h3>
        <span>Solution</span>
    </div>
</div>

