@model List<ContentItem>
<div class="row">
    <div class="relatedtitle">
        <h2>Gerelateerd</h2>
    </div>
</div>
<div class="row">
    @foreach (var item in Model)
    {
    <div class="col-md-4 relateditem">
        <div class="innerrelateditem flexcase" style="background-image: url(@item.PhotoPath)">
            <p>@item.TypeString</p>
            <h3>@item.Titel</h3>
            <a href=@($"{Context.Request.Scheme}://{Context.Request.Host}{item.LinkPath}") class="buttonHover">LEES MEER</a>
        </div>
    </div>
    }
</div>
