<div class="container-fluid">
    <div class="row" id="serviceouterdiv">
        <div class="col-lg-6 servicepanel">
            <h3>
                Services die wij bieden (in combinatie, of los van bovenstaande producten)
            </h3>
            <div class="service">
                <a href="#">
                    <h5>
                        Vertaling van uw business naar een technische oplossing
                    </h5>
                </a>
            </div>
            <div class="service">
                <a href="#">
                    <h5>
                        Open source met maatwerk (geen lock-in)
                    </h5>
                </a>
            </div>
            <div class="service">
                <a href="#">
                    <h5>
                        Premium care
                    </h5>
                </a>
            </div>
            <div class="service">
                <a href="#">
                    <h5>
                        Altijd Security & Privacy
                    </h5>
                </a>
            </div>
            <div class="service">
                <a href="#">
                    <h5>
                        Trainingen
                    </h5>
                </a>
            </div>
        </div>
    </div>
</div>
