<div class="row ultimate-journey">
    <div class="col">
        <h1 class="text-center">Your guide to the ultimate Customer Journey</h1>

        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" data-title="Wat is het?">Wat is het?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link active" data-title="Waarom belangrijk?">Waarom belangrijk?</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" data-title="Waarom moet je bij TCF zijn?">Waarom moet je bij TCF zijn?</a>
            </li>
        </ul>
    </div>
</div>

<div class="row ultimate-journey">
    <div class="col-12 col-md-5">
        <h4>Kennismaking & advies</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>

        <h4>Implementatie & advies</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>

        <h4>Beheer & ondersteuning</h4>

        <p>
            Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.
            Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis,
            ultricies nec, pellentesque eu, pretium quis, sem.
        </p>
    </div>

    <div class="col-12 col-md-7">
        <img src="~/images/journey.png" />
    </div>
</div>
