<div class="ultimate-journey">
    <div class="row">
        <div class="col">
            <h2 class="title">Your guide to the ultimate Customer Journey</h2>

            <ul class="nav" id="ujTabs" role="tablist">
                <li class="nav-item">
                    <a class="nav-link" href="#uj-what" data-title="Wat is het?" data-toggle="tab">Wat is het?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="#uj-why" data-title="Waarom belangrijk?" data-toggle="tab">Waarom belangrijk?</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#uj-us" data-title="Waarom moet je bij TCF zijn?" data-toggle="tab">Waarom moet je bij TCF zijn?</a>
                </li>
            </ul>
        </div>
    </div>

    <div class="tab-content">
        <div class="row tab-pane" id="uj-what" role="tabpanel">
            <div class="col-12 col-lg-5 order-2 order-lg-1">
                <h4>Kennismaking & advies</h4>

                <p class="description">
                    Om het hoogste rendement uit uw documenten te behalen, geven onze consultants eerst
                    advies over de manier waarop u uw documenten kunt ontwerpen en hoe uw
                    documentprocessen kunnen worden ingericht.
                </p>

                <a href="#">Meer</a>

                <h4>Implementatie & advies</h4>

                <p class="description">
                    Bij het implementeren van de software voor document output management,
                    zijn uw wensen leidend. We nemen uw huidige situatie altijd mee in het ontwerp.
                </p>

                <a href="#">Meer</a>

                <h4>Beheer & ondersteuning</h4>

                <p class="description">
                    Het beheren van een omgeving vereist gedegen kennis en kunde over technologie.
                    Indien u dit wenst, kan The Consultancy Firm uw omgeving voor u beheren –
                    zowel on-site als off-site
                </p>

                <a href="#">Meer</a>
            </div>

            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="~/images/journey.png" />
            </div>
        </div>

        <div class="row tab-pane active" id="uj-why" role="tabpanel">
            <div class="col-12 col-lg-5 order-2 order-lg-1">
                <h4>Kennismaking & advies</h4>

                <p class="description">
                    Om het hoogste rendement uit uw documenten te behalen, geven onze consultants eerst
                    advies over de manier waarop u uw documenten kunt ontwerpen en hoe uw
                    documentprocessen kunnen worden ingericht.
                </p>

                <a href="#">Meer</a>

                <h4>Implementatie & advies</h4>

                <p class="description">
                    Bij het implementeren van de software voor document output management,
                    zijn uw wensen leidend. We nemen uw huidige situatie altijd mee in het ontwerp.
                </p>

                <a href="#">Meer</a>

                <h4>Beheer & ondersteuning</h4>

                <p class="description">
                    Het beheren van een omgeving vereist gedegen kennis en kunde over technologie.
                    Indien u dit wenst, kan The Consultancy Firm uw omgeving voor u beheren –
                    zowel on-site als off-site
                </p>

                <a href="#">Meer</a>
            </div>

            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="~/images/journey.png" />
            </div>
        </div>

        <div class="row tab-pane" id="uj-us" role="tabpanel">
            <div class="col-12 col-lg-5 order-2 order-lg-1">
                <h4>Kennismaking & advies</h4>

                <p class="description">
                    Om het hoogste rendement uit uw documenten te behalen, geven onze consultants eerst
                    advies over de manier waarop u uw documenten kunt ontwerpen en hoe uw
                    documentprocessen kunnen worden ingericht.
                </p>

                <a href="#">Meer</a>

                <h4>Implementatie & advies</h4>

                <p class="description">
                    Bij het implementeren van de software voor document output management,
                    zijn uw wensen leidend. We nemen uw huidige situatie altijd mee in het ontwerp.
                </p>

                <a href="#">Meer</a>

                <h4>Beheer & ondersteuning</h4>

                <p class="description">
                    Het beheren van een omgeving vereist gedegen kennis en kunde over technologie.
                    Indien u dit wenst, kan The Consultancy Firm uw omgeving voor u beheren –
                    zowel on-site als off-site
                </p>

                <a href="#">Meer</a>
            </div>

            <div class="col-12 col-lg-7 order-1 order-lg-2">
                <img src="~/images/journey.png" />
            </div>
        </div>
    </div>
</div>
