<div style="text-align: center">
    <h3 class="vacancyHeader">We zoeken altijd talent</h3>
    <p class="vacancyIntro">
        Nam pretium turpis et arcu. Duis arcu tortor, suscipit eget,<br/>
        imperdiet nec, imperdiet iaculis, ipsum.
    </p>
    
    <div class="vacancy">
        <div style="display: flex; padding-top: 15px; padding-bottom: 15px;">
            <p class="vacancyDescription">Test</p>
            <p class="vacancyDate">20 september 2017</p>
            <img src="images/right-arrow-black.svg" alt="Arrow" class="arrow"> 
        </div>
    </div>
    
    <div class="vacancy">
        <div style="display: flex; padding-top: 15px; padding-bottom: 15px;">
            <p class="vacancyDescription">Test</p>
            <h5 class="vacancyDate">20 september 2017</h5>
            <img src="images/right-arrow-black.svg" alt="Arrow" class="arrow">
        </div>
    </div>
</div>