@model TheConsultancyFirm.Models.ApplicationUser

@{
    ViewData["Title"] = "Create";
}
<div class="fluid-container">
    <div class="row">
        <div class="col">
            <h2>Gebruikers aanmaken</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Hier maak je nieuwe gebruikers aan. Je hebt alleen een email nodig!</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!--<div class="form-group">
                    <label asp-for="UserName" class="control-label"></label>
                    <input asp-for="UserName" class="form-control" />
                    <span asp-validation-for="UserName" class="text-danger"></span>
                </div>-->
                <div class="form-group">
                    <label asp-for="Email" class="control-label"></label>
                    <input asp-for="Email" type="email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <input type="submit" value="Aanmaken" class="btn btn-default" />
                </div>
            </form>
        </div>
    </div>
</div>

