@model IEnumerable<TheConsultancyFirm.Models.ApplicationUser>

@{
    ViewData["Title"] = "Gebruikers";
}
<div class="fluid-container">
    <div class="row">
        <div class="col">
            <h2>Gebruikers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Dit is de gebruikerspagina. Hier kan je gebruikers aanmaken, bekijken en verwijderen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a asp-controller="Users" asp-action="Create" class="" title="Maak een nieuwe gebruiker aan">Nieuwe gebruiker toevoegen <i class="fa fa-user-plus"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Laatst ingelogd op</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Email</td>
                            <td>@item.LastLogin</td>
                            <td>
                                <a><i class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

 

         
         