@model IEnumerable<TheConsultancyFirm.Models.ApplicationUser>

@{
    ViewData["Title"] = "Gebruikers";
}
<div class="fluid-container">
    <div class="row">
        <div class="col">
            <h2>Gebruikers</h2>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <p>Dit is de gebruikerspagina. Hier kan je gebruikers aanmaken, bekijken en verwijderen.</p>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <a asp-controller="Users" asp-action="Create" class="" title="Maak een nieuwe gebruiker aan">Nieuwe gebruiker toevoegen <i class="fa fa-user-plus"></i></a>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Email</th>
                        <th>Laatst ingelogd op</th>
                        <th>Acties</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>@item.Email</td>
                            <td>@item.LastLogin</td>
                            <td>
                            <a><i onclick="showDeleteModal( '@item.Email', '@item.Id')" class="fa fa-trash"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
<div class="modal fade" id="deleteModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Wil je deze gebruiker verwijderen?</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p></p>
            </div>
            <div class="modal-footer">
                <form asp-action="Delete">
                    <input type="hidden" name="id" />
                    <button type="submit" class="btn btn-danger">Verwijder <i class="fa fa-trash"></i></button>
                </form>

                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
