@{
    ViewData["Title"] = "Solutions";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="Solutions" asp-action="Index">Solutions</a></li>
    <li class="breadcrumb-item active">OpenText Extram</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>OpenText Extream</h2>
            <p class="mt-4 mb-5 introtext">
                OpenText StreamServe maakt het mogelijk om uw <br /> documenten op een snelle wijze te creëren en vervolgens op <br /> dynamische wijze in elk gewenst bestandsformaat of <br /> outputkanaal presenteren.
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="solutionMain">
        <div class="col-lg-4 col-md-12">
            <img src="~/images/opentext.png" id="opentextmain">
        </div>

        <div class="col-lg-4 col-md-12">

            <ul>
                <p><h4>Voordelen OpenText Extream</h4></p>
                <li>Bestandsformaat / outputkanaal gericht op uw klanten, partners, leveranciers en / of werknemers</li>
                <li>Aanzienlijke kostenbesparingen</li>
                <li>Betere operationele efficiency</li>
                <li>Meer omzetmogelijkheden</li>
                <li>Verhoogt uw naamsbekendheid</li>
                <li>Beter in staat om snel te reageren op markttrends</li>
            </ul>
        </div>

    </div>

    <div class="row" id="solutionMain">
        <div class="col">
            <h3>Optimale ervaring</h3>

            <p class="mt-4 mb-5 ">
                Now part of Exstream, Customer Communications Enterprice provides the agility and ease of use that allows
                business users throughout your entire enterprise to bridge departments and data sources, to speak to your
                customers with one voice, throughout their entire lifecycle.

                <br /><br />

                All businesses, wheter Business-to-Consumer or Business-to-Business, generate hundreds or hundreds of
                thousands of critical business documents every day. But you've outgrown your homegrown output system.
                Your needs, and your customer's demands have moved beyond paper You are experiencing a Digital
                Transformation, nd you know you need to adapt, or die.
            </p>

            <div id="quotebox">
                <img class="quote" src="~/images/quote.png">

                <h5>OpenText Communications Center Enterprise is here to <br /> help you transform an do better business.</h5>
            </div>
        </div>
    </div>
</div>

@Html.Partial("NewsLetterPartial")
