@{
    ViewData["Title"] = "Solutions";
}
<div>
    <h2>Naadloos aansluiten op uw ICT-omgeving</h2>
    <h4>
        The Consultancy Firm biedt een complete, geintegreerde, oplossing die de drie elementen van documentatmanagment omvat:
        compositie, procesautomatisering en output
    </h4>
</div>
<div>
    <div class="driesolutions">
        <img src="" alt="Document Wizard">
        <h3>Document Wizard</h3>
        <p>
            Uw klant heeft de behoefte om persoonlijk met u te communiceren... Maar maatwerk voor iedere klant is toch kostbaar en
            tijdrovend? Niet met The Document Wizard. Sluit uw bestaande administraties en workflow systemen moeiteloos aan op onze correspondentie
            van uw klantrelatie beginnen!
        </p>
        <div class="buttonHover">LEES MEER</div>
    </div>
    <div class="driesolutions">
        <img src="" alt="Social.ice">
        <h3>Social.ice</h3>
        <p>
            Uw klant heeft de behoefte om persoonlijk met u te communiceren... Maar maatwerk voor iedere klant is toch kostbaar en
            tijdrovend? Niet met The Document Wizard. Sluit uw bestaande administraties en workflow systemen moeiteloos aan op onze correspondentie
            van uw klantrelatie beginnen!
        </p>
        <div class="buttonHover">LEES MEER</div>
    </div>
    <div class="driesolutions">
        <img src="" alt="OpenText Extream">
        <h3>OpenText Extream</h3>
        <p>
            Uw klant heeft de behoefte om persoonlijk met u te communiceren... Maar maatwerk voor iedere klant is toch kostbaar en
            tijdrovend? Niet met The Document Wizard. Sluit uw bestaande administraties en workflow systemen moeiteloos aan op onze correspondentie
            van uw klantrelatie beginnen!
        </p>
        <div class="buttonHover">LEES MEER</div>
    </div>
</div>

