@{
    ViewData["Title"] = "Solutions";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Solutions</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col text-center">
            <h2>Naadloos aansluiten op uw ICT-omgeving</h2>
            <p class="mt-4 mb-5 introtext">
                The Consultancy Firm biedt een complete, geintegreerde, <br/>
                oplossing die de drie elementen van documentatmanagment <br/>
                omvat: compositie, procesautomatisering en output
            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row" id="solutionOuter">
        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-img-top" alt="Card image cap" style="background-image: url(/images/logo.png)"></div>
                <div class="card-body">
                    <h4 class="card-title">Document Wizard</h4>
                    <p class="card-text">
                        Uw klant heeft de behoefte om persoonlijk met u te communiceren... Maar maatwerk voor iedere klant is toch kostbaar en
                        tijdrovend? Niet met The Document Wizard. Sluit uw bestaande administraties en workflow systemen moeiteloos aan op onze correspondentie
                        van uw klantrelatie beginnen!
                    </p>
                    <a asp-controller="Solutions" asp-action="Detail" class="buttonHover">LEES MEER</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-img-top" alt="Card image cap" style="background-image: url(/images/logo.png)"></div>
                <div class="card-body">
                    <h4 class="card-title">Social.ice</h4>
                    <p class="card-text">
                        Uw klant heeft de behoefte om persoonlijk met u te communiceren... Maar maatwerk voor iedere klant is toch kostbaar en
                        tijdrovend? Niet met The Document Wizard. Sluit uw bestaande administraties en workflow systemen moeiteloos aan op onze correspondentie
                        van uw klantrelatie beginnen!
                    </p>
                    <a asp-controller="Solutions" asp-action="Detail" class="buttonHover">LEES MEER</a>
                </div>
            </div>
        </div>

        <div class="col-lg-4 col-md-12">
            <div class="card">
                <div class="card-img-top" alt="Card image cap" style="background-image: url(/images/logo.png)"></div>
                <div class="card-body">
                    <h4 class="card-title">OpenText Extream</h4>
                    <p class="card-text">
                        Uw klant heeft de behoefte om persoonlijk met u te communiceren... Maar maatwerk voor iedere klant is toch kostbaar en
                        tijdrovend? Niet met The Document Wizard. Sluit uw bestaande administraties en workflow systemen moeiteloos aan op onze correspondentie
                        van uw klantrelatie beginnen!
                    </p>
                    <a asp-controller="Solutions" asp-action="Detail" class="buttonHover">LEES MEER</a>
                </div>
            </div>
        </div>
    </div>
</div>

@Html.Partial("ServicesWeOfferPartial")
@Html.Partial("NewsLetterPartial")
