@model Case

@{
    ViewData["Title"] = "Nieuw";
}

<h2>@ViewBag.Title</h2>

<h4>Case</h4>
<hr />

<form asp-action="Create" class="blocks-form" id="createCase" enctype="multipart/form-data">
    <div class="row">
        <div class="col-md-4">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Title" class="control-label"></label>
                <input asp-for="Title" class="form-control" placeholder="Titel"/>
                <span asp-validation-for="Title" class="invalid-feedback d-block"></span>
            </div>
            <div class="form-group">
                <label asp-for="CustomerId" class="control-label"></label>
                <select asp-for="CustomerId" class="form-control select2" data-ajax--url="@Url.Action("Autocomplete", "Customers")"></select>
                <span asp-validation-for="CustomerId" class="invalid-feedback d-block"></span>
                <small id="customerHelp" class="form-text text-muted">
                    Zit de juiste klant er niet bij? Klik dan
                    <a asp-controller="Customers" asp-action="Create" target="_blank">hier</a>
                    om een nieuwe klant toe te voegen.
                </small>
            </div>
        </div>

        <div class="col-md-4">
            <div class="form-group">
                <label asp-for="Image"></label>
                <div class="custom-file">
                    <input class="custom-file-input" asp-for="Image">
                    <label class="custom-file-label" asp-for="Image">Choose file</label>
                </div>
                <span asp-validation-for="Image" class="invalid-feedback d-block"></span>
            </div>

            <div class="form-group">
                <label asp-for="TagIds" class="control-label"></label>
                <select asp-for="TagIds" class="form-control select2" data-ajax--url="@Url.Action("Autocomplete", "Tags")"
                        data-close-on-select="false" data-placeholder="Select related tags"></select>
            </div>
        </div>
    </div>
</form>

<label>Content</label>
<div id="blocksList"></div>

<div class="row mt-3">
    <div class="col-12">
        <button class="btn btn-default" data-toggle="modal" data-target="#chooseBlockModal" type="button">Voeg item toe</button>
    </div>
</div>

<div class="savebar">
    <div class="container-fluid">
        <div class="row align-items-center">
            <div class="col-md-6">
                <a asp-action="Index">Terug naar de lijst</a>
            </div>
            <div class="col-md-6 d-flex justify-content-end align-items-center">
                <small class="text-muted mr-3" id="statusText"></small>
                <input type="submit" value="Opslaan" class="btn btn-default" data-blocks-submit="#createCase"/>
            </div>
        </div>
    </div>
</div>


@Html.Partial("BlockChoiceModalPartial")

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
