@import 'variables';

.pageHeader {
    margin: 0 auto;
    position: relative;
    color: $white;

    h1 {
        @media screen and (max-width: $break-medium) {
            font-size:10px;
            line-height:12px;
        }
    }

    .headerImage {
        max-width: 99%;
        display: block;
        margin: auto;
        filter: grayscale(70%);
        margin-bottom: 100px;
    }
}

.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutCarousel{
    display:flex;

    p{
        color:black;
    }
}

#descriptionBox{
    margin-bottom:50px;
    @media screen and (max-width: $break-medium){
        min-height:290px;
        margin-bottom:10px;
    }
}

.description {
    padding-left: 28%;
    padding-right: 28%;

    @media screen and (max-width: $break-medium) {
        padding-left: 0px;
        padding-right: 0px;
    }

    .introtext {
        @media screen and (max-width: $break-medium) {
        }
    }

    img {
        margin-bottom: 20px;

        @media screen and (max-width: $break-medium) {
            max-width: 100%;
        }
    }



    .article {
        font-family: Raleway, sans-serif;
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 30px;
    }


    .quoteContainer {
        padding-left: 10%;
        padding-bottom: 20px;

        @media screen and (max-width:$break-medium){
            padding-bottom: 0px;
        }

        > :first-child {
            display: flex;
            align-items: baseline;
        }

        i {
            color: $orange;
            font-size: 24px;
        }

        svg {
            padding-left: 5px;
            padding-right: 5px;
            width: 25px;
            height: 15px;
        }

        h3 {
            font-family: Raleway, sans-serif;
            color: #ADABAA;
            font-size: 16px;
            padding-left: 5px;
        }

        .quoteText {
            color: $black;
            padding-left: 0;
        }
    }
}

.carousel-navigation {
    a {
        padding: 15px;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 2px #f7f7f7;
        margin-right: 10px;
        color: $black;

        &:hover {
            background-color: $orange;
            cursor: pointer;
            color: $white;
            text-decoration: none;
        }
    }
}

.aboutCarousel {
    video {
        max-width: 57%;
    }
}


.carousel-navigation {
    @media screen and (max-width: 767px) {
        margin-top: 10px !important;
    }
}


.carousel-caption {
    position: initial;
    text-align: initial;
    color: black;

    @media screen and (max-width: 767px) {
        display: inline !important;

        p {
            padding-top: 20px;
        }
    }
}

    

