@import 'Variables';

.pageHeader {
    margin: 0 auto;
    position: relative;
    color: $white;

    .headerImage {
        max-width: 99%;
        display: block;
        margin: auto;
        filter: grayscale(70%);
        margin-bottom: 100px;
    }
}

.centered {
    font-family: Ubuntu, sans-serif;
    font-weight: bold;
    font-size: 60px;
    line-height: 65px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.aboutCarousel{
    display:flex;

    p{
        color:black;
    }
}

.beschrijving {
    padding-left: 28%;
    padding-right: 28%;

    .intro {
        font-family: Raleway, sans-serif;
        font-size: 21px;
        line-height: 30px;
        padding-bottom: 30px;
    }

    .article {
        font-family: Raleway, sans-serif;
        font-size: 16px;
        line-height: 25px;
        padding-bottom: 30px;
    }

    img {
        max-width: 99%;
    }

    .quote {
        padding-left: 10%;
        padding-bottom:30px;

        > :first-child{
            display:flex;
            align-items: baseline;
        }

        i {
            color: $orange;
            font-size:24px;
        }

        svg{
            padding-left:5px;
            padding-right:5px;
            width: 25px;
            height: 15px;
        }

        h3 {
            font-family: Raleway, sans-serif;
            color: #ADABAA;
            font-size: 16px;
            padding-left: 5px;
        }

        .quoteText {
            font-family: Raleway, sans-serif;
            color: $black;
            font-size: 21px;
            line-height:28px;
            padding-left:0;
        }
    }
}
.carousel-navigation {
    a {
        padding: 15px;
        border-radius: 100%;
        box-shadow: 0px 0px 0px 2px #f7f7f7;
        margin-right: 10px;
        color: $black;

        &:hover {
            background-color: $orange;
            cursor: pointer;
            color: $white;
            text-decoration: none;
        }
    }
}

.aboutCarousel {
    video {
        max-width: 57%;
    }
}


.carousel-navigation {
    @media screen and (max-width: 767px) {
        margin-top: 10px !important;
    }
}


.carousel-caption {
    position: initial;
    text-align: initial;
    color: black;

    @media screen and (max-width: 767px) {
        display: inline !important;

        p {
            padding-top: 20px;
        }
    }
}

    

