@import 'variables';

footer {
    background-color: $black;
    color: $darkGrey;
    padding: 20px 0px;

    @media screen and (max-width: $break-medium) {
        text-align: center;

        #FooterBottomRow {
            display: inline;
        }

        #FooterSocialColum .social-media {
            justify-content: center;
        }
    }

    ul {
        padding: 0;
        list-style-type: none;
    }

    li {
        line-height: 30px;
    }

    a {
        color: $grey;

        &:hover {
            color: $grey;
            cursor: pointer;
        }
    }

    h3 {
        color: $white;
    }
}

#FooterBottomRow {
    display: flex;
    align-items: flex-end;
}
