@import 'variables';

#newsdetailimage {
    width: 100%;
    background-repeat: no-repeat;

    @media screen and (max-width: $break-xlarge) {
        background-size: contain;
    }

    @media screen and (max-width: $break-medium) {
        height: 300px;
    }
}

#newsdetail {
    padding-right: 100px;
    padding-left: 50px;
    margin-bottom: 150px;

    .introtext {
        color: $darkGrey;
    }

    @media screen and (max-width: $break-medium) {
        margin-bottom: 50px;
        padding-right: 10px;
        padding-left: 10px;
    }
}

.related {
    margin-bottom: 100px;
}

.sharing {
    font-size: 14px;
    display: flex;
    align-items: center;
    margin-top: 50px;

    > span:first-child {
        font-size: 20px;
        margin-right: 1rem;
    }
}