@import 'variables';

.caseoverview {
    height: 600px;
    padding: 10px;
    font-family: 'Raleway', sans-serif;

    .innercaseoverview {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        padding-left: 50px;
        padding-bottom: 50px;
        height: 100%;
        color: white;
        background-image: url(/images/home-office.jpg);
        background-position: center;

        &::before {
            content: '\A';
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 10px;
            left: 10px;
            background: rgba(0, 0, 0, 0.45);
        }

        &:hover::before {
            transition: all .5s ease-in-out;
            content: '\A';
            position: absolute;
            top: 10px;
            bottom: 10px;
            right: 10px;
            left: 10px;
            background: rgba(0, 0, 0, 1);
        }
    }

    h3 {
        margin-top: 10px;
        margin-bottom: 50px;
    }

    .buttonHover {
        letter-spacing: 2px;
        width: 134px;
    }

    @media screen and (max-width: $break-large) {
        .innercaseoverview {
            padding-left: 20px;
        }
    }

    @media screen and (max-width: $break-medium) {
        height: 350px;
    }
}