@import 'variables';

.buttonHover{
    
}

.related-row{
    justify-content: space-between;
}

.related-item{
    height: 300px;
    margin-right: -50px;
    background-color: $black;
    display: flex;
    flex-direction: column-reverse;
    box-sizing: border-box;
    padding: 10px 40px;
}

.related-title {
    justify-content: center;

    h3 {
        color: $black;
        line-height: 39pt;
        font-size: 30pt;
        font-family: 'Ubuntu', sans-serif;
        margin-bottom: 1em;
    }
}

.related-item {

    .buttonHover {
        margin: 30px 0px;
        align-self: flex-start;
        color: $white;
    }

    h3 {
        z-index: 1;
    }

    span {
        color: $grey;
        z-index: 1;
    }

    &::before {
        content: '\A';
        position: absolute;
        top: 0px;
        bottom: 0px;
        right: 0px;
        left: 0px;
        background: rgba(26,25,25,0.45);
        transition: all .5s ease-in-out;
    }

    &:hover::before {
        background: rgba(26,25,25,0.3);
    }

    &:nth-child(2) {
        background-image: url(/images/related-stock-photo.jpg);
        background-size: cover;
        //filter: brightness(50%);
    }
}

@media screen and (max-width: $break-medium) {
    .related-item{
        margin-bottom: 20px;
    }

    h3 {
        color: $black;
        line-height: 30pt;
        font-size: 21pt;
    }
}

@media screen and (max-width: 992px) {
    .related-item {
        padding-left: 15px;
    }
}

