h1 {
  font: 500 30px/39px Ubuntu, sans-serif;
}

.nav {
  text-align: center;
  justify-content: center;
}

.nav-item {
  font: 400 21px/24px Ubuntu, sans-serif;
}

.ultimate-journey {
  p {
    font-family: Raleway, sans-serif;
  }

  h4 {
    font: 400px 21px/24px Ubuntu, sans-serif;
  }
}
