@import 'variables';

.ultimate-journey {
    margin-bottom: 2rem;

    .title {
        // TODO: Use default styles
        font: 400 40px/46px Ubuntu, sans-serif;
        text-align: center;
        margin-bottom: 1rem;
    }

    .nav {
        text-align: center;
        justify-content: center;
        margin-bottom: 2rem;
    }

    .nav-link {
        // TODO: Variable
        font: 400 21px/24px Ubuntu, sans-serif;
        position: relative;
        color: $black !important;

        @media screen and (min-width: $break-medium) {
            padding-bottom: 24px;
        }

        &.active {
            font-weight: 500;

            @media screen and (min-width: $break-medium) {
                &::after {
                    content: '\f078';
                    color: $orange;
                    font-family: FontAwesome, sans-serif;
                    font-size: 16px;
                    position: absolute;
                    bottom: 0;
                    left: calc(50% - 8px);
                }
            }
        }

        &::before {
            display: block;
            content: attr(data-title);
            font-weight: 500;
            height: 0;
            visibility: hidden;
        }
    }

    .tab-pane.active {
        display: flex;
    }

    @media screen and (min-width: $break-xlarge) {
        .description {
            padding-right: 4rem;
        }
    }

    img {
        padding: 1rem;
        max-width: 100%;
    }

    p {
        // TODO: Inherit defaults
        font-family: Raleway, sans-serif;
    }

    h4 {
        // TODO: Inherit defaults
        font: 400 21px/24px Ubuntu, sans-serif;
        margin-bottom: 1rem;
        margin-top: 1rem;
    }

    a {
        color: $turquoise;
        // TODO: Inherit defaults
        font: 400 16px/25px Raleway, sans-serif;
        font-weight: bold;
    }
}
