@import 'variables';

.vacancyHeader {
    font-family: Ubuntu, sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;    
}

.vacancyIntro {
    font-family: Raleway, sans-serif;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 60px;
}

.vacancy {
    margin-bottom: 20px;
    box-shadow: 0 2px 13px 4px #ddd;
    display: flex;
    padding: 15px 20px;
    align-items: center;
    overflow: hidden;

    img{
        height:20px;
        padding-left:20px;
        width: auto;
    }
}


.vacancyDescription {
    white-space:nowrap;
    margin-bottom: 0;
    color: $black;
    margin-right:auto;
}

.vacancyDate {
    white-space: nowrap;
    margin-bottom: 0;
    margin-right:20px;
    color: $grey;
    }





