@import 'variables';

.vacancyHeader {
    font-family: Ubuntu, sans-serif;
    color: black;
    font-size: 30px;
    font-weight: 500;
    line-height: 39px;    
}

.vacancyIntro {
    font-family: Raleway, sans-serif;
    font-size: 21px;
    line-height: 30px;
    margin-bottom: 60px;
}

.vacancy {
    margin: 0 auto;
    margin-bottom: 20px;
    box-shadow: 0 2px 13px 4px #ddd;
    width: 80%; 
    height: 55px; 
}




.vacancyDescription {
    white-space:nowrap;
    margin-left: 20px;
    margin-right: 50%;
    color: $black;
}

.vacancyDate {
    white-space: nowrap;
    color: $grey;
    }





