// Colors
$black: #1A1919;
$blackLink: #212529;
$backgroundGrey: #F7F7F7;
$grey: #D2D1D1;
$white: #FFFFFF;
$darkGrey: #ADABAA;
$orange: #F7931E;
$darkOrange: #dd7a08;
$turquoise: #5DC2C4;
$lightGrey: #E7E7E6;
$red: #DC3545;

$sidebarBg: #3C4252;
$sidebarTitle: #8A909F;

$blockBg: #4c5367;

// Breakpoints
$break-small: 576px;
$break-medium: 768px;
$break-large: 992px;
$break-xlarge: 1200px;

// Transitions
$cubic-bezier: cubic-bezier(.2,.3,.25,.9);

// Font weights
$bold: 700;
$medium: 500;
$regular: 400;
$light: 300;

// Mixins
