//Colors
$black: #1A1919;
$blackLink: #212529;
$backgroundGrey: #F7F7F7;
$grey: #D2D1D1;
$white: #FFFFFF;
$darkGrey: #ADABAA;
$orange: #F7931E;
$darkOrange: #dd7a08;


//break
$break-medium: 768px;

//transition
$cubic-bezier: cubic-bezier(.2,.3,.25,.9);

//mixins
