@import 'variables';
@import 'buttonHover';
@import 'footer';
@import 'header';
@import 'ourCustomers';
@import 'cookieWall';
@import 'relatedCases';
@import 'oneCaseOverview';
@import 'newsLetter';


/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}


h3 {
    font-family: 'Ubuntu', sans-serif;
    color: $white;
    font-size: 30px;
    line-height: 39px;
}

p {
    line-height: 25px;
}

.arrow {
    width: 20px;
    height: 30px;
    margin-left: 5px;
}
