@import 'variables';
@import 'buttonHover';
@import 'footer';
@import 'header';
@import 'ourCustomers';
@import 'cookieWall';
@import 'newsItem';
@import 'relatedCases';
@import 'newsLetter';
@import 'aboutPage';
@import 'relatedCases';
@import 'servicesWeOffer';
@import 'vacancyOverview';
@import 'ultimateJourney';
@import 'caseOverview';
@import 'newsPage';
@import 'solutionsOverview';
@import 'newsDetail';

body {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;

    @media screen and (max-width: $break-medium) {
        font-size: 14px;
        line-height: 23px;
    }
} 

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Carousel */
.carousel-caption p {
  font-size: 20px;
  line-height: 1.4;
}

/* Make .svg files in the carousel display properly in older browsers */
.carousel-inner .item img[src$=".svg"] {
  width: 100%;
}

/* QR code generator */
#qrCode {
  margin: 15px;
}


/* Hide/rearrange for smaller screens */
@media screen and (max-width: 767px) {
  /* Hide captions */
  .carousel-caption {
    display: none;
  }
}

h1 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 60px;
    line-height: 65px;
    font-weight: 700;

    @media screen and (max-width: $break-medium) {
        font-size: 26px;
        line-height: 32px;
    }
}

h2 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 40px;
    line-height: 46px;
    font-weight: 400;

    @media screen and (max-width: $break-medium) {
        font-size: 24px;
        line-height: 30px;
    }
}

h3 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 30px;
    line-height: 39px;
    font-weight: 500;

    @media screen and (max-width: $break-medium) {
        font-size: 21px;
        line-height: 30px;
    }
}

h4 {
    font-family: 'Ubuntu', sans-serif;
    font-size: 21px;
    line-height: 24px;
    font-weight: 400;

    @media screen and (max-width: $break-medium) {
        font-size: 18px;
        line-height: 20px;
    }
}

.introtext {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    line-height: 30px;

    @media screen and (max-width: $break-medium) {
        font-size: 16px;
        line-height: 24px;
    }
}

.content {
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 25px;

    @media screen and (max-width: $break-medium) {
        font-size: 14px;
        line-height: 23px;
    }
}

.quote {
    font-family: 'Raleway', sans-serif;
    font-size: 21px;
    line-height: 28px;
    font-weight: 300;

    @media screen and (max-width: $break-medium) {
        font-size: 18px;
        line-height: 28px;
    }
}

p {
    line-height: 25px;
}

.arrow {
    width: 20px;
    height: 30px;
    margin-left: 5px;
}

.breadcrumb {
    background: inherit;
    padding-left:25px;
    padding-top: 0;
}

.breadcrumb-item {
    a {
        color: black;
        text-decoration: underline;
    }
}

.flexcase {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    &::before {
        content: '';
        position: absolute;
        transition: all .5s ease-in-out;
    }
}

.paging {
    display: flex;
    justify-content: space-between;
    align-items: baseline;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            display: inline;
            font-size: 20px;
            margin: 0 5px;
            font-weight: $bold;

            a {
                color: black;

                &:hover {
                    color: black;
                    cursor: pointer;
                }
            }
        }
    }
}

.fluidpadding {
    padding: 0 35px;
}
