
@{
    ViewData["Title"] = "SuccesfulUnsubscription";
}

<div class="text-center">
    <h2>U heeft zich succesvol afgemeld</h2>
    <p>U heeft zich succesvol afgemeld voor de nieuwsbrief.</p>
</div>

