@{
    ViewData["Title"] = "Toegang geweigerd";
}

<div class="skylineBlur">
</div>
<div>
    <div class="col-lg-3 col-md-4 col-12 mx-auto mt-100 loginContainer p-4">
        <h2 class="text-danger">Toegang geweigerd</h2>
        <p class="text-danger">U heeft geen toegang tot het dashboard.</p>
        <p class="text-danger">Neem contact op met een systeem beheerder als u denkt dat dit een fout is.</p>
    </div>
</div>
