@{
    ViewData["Title"] = "Email bevestigd";
}

<div class="skylineBlur">
</div>
<div>
    <div class="col-lg-3 col-md-4 col-12 mx-auto mt-100 loginContainer p-4">
        <h2>@ViewData["Title"]</h2>
        <p>
            Uw email is succesvol bevestigd.
        </p>
    </div>
</div>
