@{
    ViewData["Title"] = "Wachtwoord vergeten";
}

<div class="skylineBlur">
</div>
<div>
    <div class="col-lg-3 col-md-4 col-12 mx-auto mt-100 loginContainer p-4">
        <p>
            We hebben u een wachtwoord herstel email gestuurd.
            Controleer uw mailbox en spamfolder voor de herstellink.
        </p>
    </div>
</div>
