@model LoginWith2faViewModel
@{
    ViewData["Title"] = "Two-factor authentication";
}


<div class="skylineBlur">
</div>
<div>
    <div class="col-lg-3 col-md-4 col-12 mx-auto mt-100 loginContainer p-4">

        <h2>@ViewData["Title"]</h2>
        <hr/>
        <p>Uw account is beveiligd met een authenticator app. Voer hieronder uw authenticator code in.</p>

        <form method="post" asp-route-returnUrl="@ViewData["ReturnUrl"]">
            <input asp-for="RememberMe" type="hidden"/>
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="TwoFactorCode"></label>
                <input asp-for="TwoFactorCode" class="form-control" autocomplete="off"/>
                <span asp-validation-for="TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="RememberMachine">
                        <input asp-for="RememberMachine"/>
                        @Html.DisplayNameFor(m => m.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">Log in</button>
            </div>
        </form>
    </div>
</div>
<p>
    Heeft u geen toegang tot uw authenticator? U kunt <a asp-action="LoginWithRecoveryCode" asp-route-returnUrl="@ViewData["ReturnUrl"]">inloggen</a>
    met een recovery code.
</p>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
