@{
    ViewData["Title"] = "Uw wachtwoord is hersteld";
    Layout = "_loginLayout";
}

<div class="skylineBlur">
</div>
<div>
    <div class="col-lg-3 col-md-4 col-12 mx-auto mt-100 loginContainer p-4">
            <h2>@ViewData["Title"]</h2>
            <p>
                Uw wachtwoord is hersteld. Klik <a asp-action="Login">hier</a> om in te loggen.
            </p>
    </div>
</div>