@model QuoteBlock

<blockquote class="mt-4">
    <div class="author">
        <i class="fa fa-quote-left" aria-hidden="true"></i>
        <p>@Model.Author</p>
    </div>

    <p class="quote">
        @Model.Text
    </p>
</blockquote>
