@model TheConsultancyFirm.Models.SolutionAdvantagesBlock

<div class="container container-wide">
    <div class="row">
        <div class="col-12 col-md-10 mx-auto">
            This is a solutions advantages block.
        </div>
    </div>
</div>
