@{
    ViewBag.Title = "Nieuws detail - bladiebla";
    Layout = "_Layout";
    string image = "k";
}
<div class="container-fluid fluidpadding">
    <div class="row">
        @if (!string.IsNullOrWhiteSpace(image))
        {
            <div class="col-lg-4" style="background-image: url(/images/oldman.png)" id="newsdetailimage">

            </div>
        }
        else
        {
            <div class="col-lg-2" id="newsdetailimage">

            </div>
        }
            <div class="col-lg-8" id="newsdetail">
                <p class="introtext">9 September 2017</p>
                <h2>Pensioen in eigen beheer</h2>
                <h3>Laatste fase pensioen eigen beheer</h3>
                <p>
                    De uitfasering van het pensioen in eigen beheer (PEB) gaat door. De staatssecretatiis heeft een kleine wijziging in het wetsvoorstel aangekondigd.
                    De contouren van de uitfasering zullen niet worden gewijzigd (zie dit nieuwsbericht). De verwachting is dat het persioen in eigen beheer per 1 april a.s. zal zijn afgeschaft.
                    De directeur-grootaandeelhouder (DGA) krijgt 3 maanden extra de tijd om de noodzakelijke formaliteiten in orde te brengen. Hieronder lichten wij de stand van zaken toe.
                </p>
                <h3>Laatste fase pensioen eigen beheer</h3>
                <p>
                    Eind vorig jaar werd stemming over het wetsvoorstel op het laatste moment uitgesteld, omdat het mogelijk
                    onbedoelde effecten zou hebben. Deze effecten zage op de situatie dat er sprake is van een zogenoemd
                    extern PEB. Dit beteked dat het pensioen is verzekerd bij een andere groepsvennootschap dan de
                    vennootschap waarbij de DGA in dienst is. In die gevallen moet een zogenoemde indexatielast geactiveerd
                    worden en zou dit bedrag ineens ten laste van de winst worden gebracht. De staatssecreataris gaf aan de
                    situatie te willen bestuderen en spoedig met een gewijzigd voorstel te zullen komen.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur
                    ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede justo, fringilla vel, aliquet nec, vulputate eget,
                    arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus. Vivamus elementum semper nisi.
                </p>
                <div class="sharing">
                    <span style="font-size: 18px">
                        <i class="fa fa-share-alt"></i>
                        share
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                    </span>
                    <span class="fa-stack fa-lg">
                        <i class="fa fa-square fa-stack-2x"></i>
                        <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                    </span>
                </div>
            </div>
    </div>
</div>
<div class="container related">
    @Html.Partial("RelatedCasesPartial")
</div>