@{
    ViewBag.Title = "Case detail - bladiebla";
    Layout = "_Layout";
    string image = "k";
}
<div class="container-fluid fluidpadding">
    <div class="row">
        @if (!string.IsNullOrWhiteSpace(image))
        {
            <div class="col-md-4" style="background-image: url(/images/oldman.png)" id="newsdetailimage">

            </div>
        }
        else
        {
            <div class="col-md-2" id="newsdetailimage">

            </div>
        }
        <div class="col-lg-8" id="newsdetail">
            <p class="introtext">9 September 2017</p>
            <h2>Pensioen in eigen beheer</h2>
            <h3>Laatste fase pensioen eigen beheer</h3>
            De uitfasering van het pensioen in eigen beheer (PEB) gaat door. De staatssecretatiis heeft een kleine wijziging in het wetsvoorstel aangekondigd.
            De contouren van de uitfasering zullen niet worden gewijzigd (zie dit nieuwsbericht). De verwachting is dat het persioen in eigen beheer per 1 april a.s. zal zijn afgeschaft.
            De directeur-grootaandeelhouder (DGA) krijgt 3 maanden extra de tijd om de noodzakelijke formaliteiten in orde te brengen. Hieronder lichten wij de stand van zaken toe.
            <br>
            <br>
            <h3>Laatste fase pensioen eigen beheer</h3>
            De uitfasering van het pensioen in eigen beheer (PEB) gaat door. De staatssecretatiis heeft een kleine wijziging in het wetsvoorstel aangekondigd.
            De contouren van de uitfasering zullen niet worden gewijzigd (zie dit nieuwsbericht). De verwachting is dat het persioen in eigen beheer per 1 april a.s. zal zijn afgeschaft.
            De directeur-grootaandeelhouder (DGA) krijgt 3 maanden extra de tijd om de noodzakelijke formaliteiten in orde te brengen. Hieronder lichten wij de stand van zaken toe.
            <br>
            <br>
            De uitfasering van het pensioen in eigen beheer (PEB) gaat door. De staatssecretatiis heeft een kleine wijziging in het wetsvoorstel aangekondigd.
            De contouren van de uitfasering zullen niet worden gewijzigd (zie dit nieuwsbericht). De verwachting is dat het persioen in eigen beheer per 1 april a.s. zal zijn afgeschaft.
            De directeur-grootaandeelhouder (DGA) krijgt 3 maanden extra de tijd om de noodzakelijke formaliteiten in orde te brengen. Hieronder lichten wij de stand van zaken toe.
            <div class="sharing">
                <span style="font-size: 18px">
                    <i class="fa fa-share-alt"></i>
                    share
                </span>

                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>

                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-twitter fa-stack-1x fa-inverse"></i>
                </span>

                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-google-plus fa-stack-1x fa-inverse"></i>
                </span>

                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>

                <span class="fa-stack fa-lg">
                    <i class="fa fa-square fa-stack-2x"></i>
                    <i class="fa fa-envelope fa-stack-1x fa-inverse"></i>
                </span>
            </div>
        </div>
    </div>
</div>
<div class="container related">
    @Html.Partial("RelatedCasesPartial")
</div>