@import '../../variables';

.block {
    margin: 2px 0;
    color: $white;
    position: relative;

    &::after {
        content: '';
        position: absolute;
        top: 0;
        right: 15px;
        bottom: 0;
        left: 15px;
        transition: background-color .3s ease-in-out;
        pointer-events: none;
    }

    &.deleting::after {
        background: rgba($black, .3);
        pointer-events: all;
    }

    &.deleting:hover::after {
        cursor: not-allowed;
    }
}

.block-header {
    height: 50px;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: $blockBg;

    .handle {
        height: 100%;
        width: 35px;
        padding: 1rem 0;
        flex: 0 0 auto;

        &:hover {
            cursor: all-scroll;
        }
    }

    .expand {
        width: 50px;
        height: 50px;
        display: inline-block;
        text-align: center;
        color: white;
        margin-right: 1rem;
        flex: 0 0 auto;

        &::before {
            content: '\f067';
            font-family: FontAwesome, sans-serif;
            font-size: 1.5em;
            line-height: 50px;

            .open > & {
                content: '\f068';
            }
        }

        &:hover {
            cursor: pointer;
            background: $sidebarBg;
        }

        .open > & {
            background: $sidebarBg;
        }
    }

    strong {
        color: $white;
        flex: 0 0 auto;
        margin-right: .5rem;
    }

    .block-title {
        flex: 1;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap
    }

    .modifiedat {
        color: $sidebarTitle;
        margin: 0 1rem;
        white-space: nowrap;
        flex: 0 0 auto;
    }

    .delete {
        width: 50px;
        height: 50px;
        display: inline-block;
        text-align: center;
        color: $sidebarTitle;
        flex: 0 0 auto;

        &::before {
            content: '\f014';
            font-family: FontAwesome, sans-serif;
            font-size: 1.5em;
            line-height: 50px;
        }

        &:hover {
            cursor: pointer;
            color: $white;
        }
    }
}

.block-content {
    display: none;
    background: $sidebarBg;
    padding: 1rem;
    color: $white;

    input,
    textarea {
        background: $blockBg !important;
        border: 0;
        color: $white !important;

        &::placeholder {
            color: rgba(255, 255, 255, .3);
        }

        &:focus {
            box-shadow: 0px 0px 0px .2rem rgba($white, .15);
        }
    }
}

.sortable-ghost {
    opacity: .5;
}

.savebar {
    position: sticky;
    background: $white;
    bottom: -1rem;
    padding: 1rem 0px;
    left: 0px;
    right: 0px;
    height: 70px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: .5rem;
}

.modal-xl {
    max-width: 1100px;
}

.block-choice {
    .thumbnail {
        overflow: hidden;
        border: 3px solid $black;
        border-radius: 2rem;
    }

    img {
        max-width: 100%;
        transition: transform .3s ease-in-out;
    }

    &:hover {
        cursor: pointer;

        img {
            transform: scale(1.075);
        }
    }
}

.carousel-block {
    .nav-tabs {
        border-bottom-color: $blockBg;
        background: $blockBg;
    }

    .nav-item {
        border-radius: 0;
        background-color: $blockBg;
        color: $white;
        border: 0;

        .fa-times {
            opacity: 0;
            margin-left: .5rem;
        }

        &:hover,
        &.active {
            background-color: $white;
            color: $black;
            border: 0;

            .fa-times {
                opacity: 1;
            }
        }
    }

    .tab-content {
        padding: 1rem;
    }

    .slides {
        border: 2px solid $blockBg;
    }

    .carousel-description {
        height: 326px;
        resize: none;
    }

    /// Upload drag and drop box
    .box__dragndrop {
        display: none;
    }

    .box.has-advanced-upload {
        background-color: $blockBg;
        outline: 2px dashed $black;
        outline-offset: -10px;
    }

    .box.has-advanced-upload .box__dragndrop {
        display: inline;
    }

    .box.is-dragover {
        background: $grey !important;
    }

    .box.is-uploading .box__input {
        visibility: hidden;
    }

    .box {
        font-size: 1.25rem; /* 20 */
        position: relative;
        padding: 100px 20px;
        background-color: $sidebarBg;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .box.has-advanced-upload {
        outline: 2px dashed $white;
        outline-offset: -10px;

        transition: outline-offset .15s ease-in-out, background .15s linear;
    }

    .box.is-dragover {
        outline-offset: -20px;
        outline-color: $sidebarBg;
        background: #b6bbc9 !important;
    }

    .box__dragndrop,
    .box__icon {
        display: none;
    }

    .box.has-advanced-upload .box__dragndrop {
        display: inline;
    }

    .box.has-advanced-upload .box__icon {
        width: 100%;
        height: 80px;
        fill: $white;
        display: block;
        margin-bottom: 40px;
    }

    .box.is-uploading .box__input,
    .box.is-success .box__input,
    .box.is-error .box__input {
        visibility: hidden;
    }

    .box__file {
        width: 0.1px;
        height: 0.1px;
        opacity: 0;
        overflow: hidden;
        position: absolute;
        z-index: -1;
    }

    .box__file + label {
        max-width: 80%;
        text-overflow: ellipsis;
        white-space: nowrap;
        cursor: pointer;
        display: inline-block;
        overflow: hidden;
    }

    .box__file + label:hover strong,
    .box__file:focus + label strong,
    .box__file.has-focus + label strong {
        color: #b6bbc9;
    }

    .no-js .box__file + label {
        display: none;
    }

    .box__input label {
        color: $white;
        width: 100%;
        max-width: 100%;
        text-align: center;
    }

    .box__input svg {
        color: $white;
    }
}
