@import '../../variables';

.sidenav {
    background: $sidebarBg;
    color: $white;
    flex-shrink: 0;
    padding: 1rem 0;
}

.toc-item {
    position: relative;
    font-family: 'Raleway', sans-serif;
    font-size: 16px;
    line-height: 24px;

    @media screen and (min-width: $break-medium) {
        font-size: 21px;
        line-height: 30px;
    }

    &.active > a,
    &.active > span,
    a.active {
        color: $white;
        text-decoration: none;
    }

    a.active::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        width: 5px;
        height: 100%;
        background: $orange;
    }

    > a,
    > span {
        font-weight: $bold;
        color: $sidebarTitle;
        padding: .5rem 2rem;
    }

    a,
    span {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    a:hover {
        color: $white;
        text-decoration: none;
        cursor: pointer;
    }

    ul {
        list-style: none;
        padding: 0;
        margin: 0;
    }

    li {
        position: relative;
        font-family: 'Raleway', sans-serif;
        font-size: 14px;
        line-height: 23px;
        color: $darkGrey;
        font-weight: $regular;

        @media screen and (min-width: $break-medium) {
            font-size: 16px;
            line-height: 25px;
        }

        a {
            color: $darkGrey;
            text-decoration: none;
        }

        > a,
        > span {
            padding: .25rem 2rem;
        }
    }

    .badge {
        display: inline-block;
        width: 2em;
        height: 2em;
        line-height: 1.5em;
        text-align: center;
        background: $turquoise;
        color: $white;
        border-radius: 50%;

        &:empty {
            display: none;
        }
    }
}
