@{
    ViewData["Title"] = "Home Page";
}

<div class="fluid-container body-content">
    <div id="myCarousel" class="carousel slide" data-ride="carousel" data-interval="6000">
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            @for (int i = 1; i < 2; i++)
            {
            <div class="carousel-item active">
                    <img src="~/images/home/headerCarousel/banner1.svg" alt="Zes miljoen pagina's minder printen dankzij StreamServe" class="d-block w-100" />
                    <div class="carousel-caption" role="option">
                        <span>Banque Artesia</span>
                        <h1>"Zes miljoen pagina's minder printen dankzij StreamServe</h1>
                        <div class="carousel-item-links">
                            <a class="buttonHover">BEKIJK CASES</a>
                            <a class="italic-link">Of ga naar alle cases <img class="arrow" src="~/images/right-arrow.svg" alt="Of ga naar alle case's'" /></a>
                        </div>
                    </div>
                    <div class="carousel-skip-cases">
                        <img src="~/images/skip-cases-arrow.PNG" />
                        <a href="#">Skip cases</a>
                    </div>
                </div>
            }
        </div>
    </div>
    <!--
        Hier komt de Your guide to the ... partial    
    -->
    <div class="fluid-container">

    </div>
</div>
