
<h2>Beheer uw account</h2>

<div>
    <h4>Verander uw account instellingen</h4>
    <hr />
    <div class="row">
        @await Html.PartialAsync("_ManageNav")
    </div>
</div>

@section Scripts {
    @RenderSection("Scripts", required: false)
}
        
