html,
body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}

.dashboard-container {
    flex: auto;
    display: flex;
    flex-direction: row;

    > .row {
        flex: auto;
    }
}

.dashboard-content {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
