@import '../variables';

.pageHeader {
    margin: 0 auto;
    position: relative;
    color: $white;

    .headerImage {
        width: 100%;
        display: block;
        margin: auto;
        margin-bottom: 100px;
    }
}

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: rgba($black,.45);
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-direction: row;
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}

.aboutdescription {
    padding-left: 0;
    padding-right: 0;

    @media screen and (min-width: $break-medium) {
        padding-left: 28%;
        padding-right: 28%;
    }

    img {
        margin-bottom: 20px;
        max-width: 100%;

        @media screen and (max-width: $break-medium - 1px) {
            width: 100%;
        }
    }
}
