@import '../variables';

.pageheader {
    color: white;
    position: relative;
    padding: 10rem 0;
    margin: 2rem;
    height: initial;
    background: no-repeat center;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($black, .45);
    }

    h1 {
        margin: 1rem 0;
    }
}

.casedetail {
    img {
        max-width: 100%;
        margin: 2rem 0;
    }

    h2,
    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .introtext {
        text-align: left;
        margin-bottom: 1rem;
    }
}

.extra-cases {
    h2 {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .case {
        position: relative;
        padding: 10rem 5rem;
        color: $white;
        background-size: cover;
        background-position: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($black, .55);
            transition: background-color .3s ease-in-out;
        }

        &:hover::before {
            background: rgba($black, .35);
        }

        .title,
        .subtitle {
            position: relative;
        }

        .title {
            margin-bottom: 2rem;
        }

        .buttonHover {
            color: $white;
            font-weight: $bold;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}

.carousel-horizontal {
    .carousel-navigation {
        padding: 1rem 0;

        a {
            padding: 10px;
            border-radius: 100%;
            box-shadow: 0 0 0 2px #f7f7f7;
            margin-right: 10px;
            color: $black;

            &:hover {
                background-color: $orange;
                cursor: pointer;
                color: $white;
                text-decoration: none;
            }
        }
    }

    .carousel-caption {
        position: initial;
        text-align: initial;
        color: $black;

        @media screen and (max-width: $break-large - 1px) {
            display: inline-block !important;
            padding: .5rem 0;
        }
    }

    .carousel-aside {
        display: flex;
        flex-direction: column;

        .carousel {
            flex: 1;

            .carousel-inner,
            .carousel-item.active,
            .carousel-item-next,
            .carousel-item-prev {
                height: 100%;
            }
        }

        .carousel-item {
            align-items: flex-start;
            justify-content: flex-start;
        }

        .more-link {
            font-style: italic;
            color: $black;

            &::after {
                content: '';
                width: 22px;
                height: 22px;
                background-image: url(/images/right-arrow-black.svg);
                background-size: contain;
                position: absolute;
                margin-left: 1rem;
                bottom: 0
            }
        }
    }
}
