@import '../variables';

.pageheader {
    color: white;
    position: relative;
    padding: 10rem 0;
    margin: 2rem;
    height: auto;
    background: no-repeat center;
    background-size: cover;

    &::before {
        content: '';
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba($black, .45);
    }

    h1 {
        margin: 1rem 0;
    }
}

// TODO: Should this be on .content
.casedetail {
    img {
        max-width: 100%;
        margin: 2rem 0;
    }

    h2,
    h3 {
        margin-top: 2rem;
        margin-bottom: 1rem;
    }

    .introtext {
        text-align: left;
        margin-bottom: 1rem;
    }
}

.extra-cases {
    h2 {
        margin-bottom: 2rem;
        margin-top: 3rem;
    }

    .case {
        position: relative;
        padding: 10rem 5rem;
        color: $white;
        background-size: cover;
        background-position: center;

        &::before {
            content: '';
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba($black, .55);
            transition: background-color .3s ease-in-out;
        }

        &:hover::before {
            background: rgba($black, .35);
        }

        .title,
        .subtitle {
            position: relative;
        }

        .title {
            margin-bottom: 2rem;
        }

        .buttonHover {
            color: $white;
            font-weight: $bold;
            font-size: 16px;
            letter-spacing: 1px;
        }
    }
}
