@import '../variables';

.home-section {
    margin-top: 5rem !important;
    margin-bottom: 5rem !important;
}

.link-arrow img {
    width: 1.25em;
    height: 1.25em;
}

.link-more {
    color: $black;
    font-style: italic;

    &:hover {
        color: $black;
    }
}

#journey {
    margin-bottom: 0 !important;
}

.carousel-home {
    display: none;

    @media screen and (min-width: $break-small) {
        display: block;
    }

    .subtitle {
        color: $lightGrey;
    }

    .buttonHover {
        letter-spacing: 1px;
    }

    .carousel-item {
        max-height: 600px;

        > img,
        > video {
            width: 100%;
            height: 100%;
            object-fit: cover;
            object-position: center;
        }
    }

    .carousel-caption {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        color: $white;
        display: flex !important;
        flex-direction: column;
        justify-content: center;
        text-align: left;

        .links {
            display: flex;
            align-items: center;

            a {
                color: inherit;
                margin-left: 1rem;

                &:first-child {
                    margin-left: 0;
                }
            }
        }
    }

    .carousel-link-skip {
        position: absolute;
        right: 3rem;
        bottom: 2rem;
        display: flex;
        align-items: center;
        white-space: nowrap;
        color: $white;

        img {
            margin-right: 1rem;
        }
    }
}
