@import '../variables';

#solutionMain {
    padding-bottom: 50px;

    ul {
        list-style: none;
        padding-right: 50px;

        li {
            padding-left: 5px;
            margin-bottom: 10px;
        }

        li:before {
            content: '\f00c';
            font-family: 'FontAwesome';
            color: $turquoise;
            position: absolute;
            left: 20px;
        }

        @media screen and (max-width: $break-medium) {
            padding-right: 0;
        }
    }
}
