@{
    ViewBag.Title = "Downloads";
    Layout = "_Layout";
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Downloads</li>
</ol>
<div class="container">
    
</div>
@Html.Partial("NewsLetterPartial")