@model NewsItemDetailViewModel
@{
    ViewBag.Title = Model.NewsItem.Title;
    Layout = "_Layout";
    string image = Model.NewsItem.PhotoPath;
}

<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item"><a asp-controller="NewsItems" asp-action="Index">Nieuws</a></li>
    <li class="breadcrumb-item active">@Model.NewsItem.Title</li>
</ol>

<div class="container-fluid fluidpadding">
    <div class="row">
        @if (!string.IsNullOrWhiteSpace(image))
        {
            <div class="col-lg-4" style="background-image: url(@image)" id="newsdetailimage">

            </div>
        }
        else
        {
            <div class="col-lg-2" id="newsdetailimage">

            </div>
        }

            <div class="col-lg-8" id="newsdetail">
                @foreach (var block in Model.NewsItem.Blocks.OrderBy(b => b.Order))
                {
                    @await Component.InvokeAsync("Block", block)
                }

                <div class="sharing col-md-10 mx-auto">
                    <span class="introtext">
                        <i class="fa fa-share-alt"></i>
                        share
                    </span>

                    <a href="#" class="share-link fa fa-linkedin"></a>
                    <a href="#" class="share-link fa fa-twitter"></a>
                    <a href="#" class="share-link fa fa-google-plus"></a>
                    <a href="#" class="share-link fa fa-facebook"></a>
                    <a href="#" class="share-link fa fa-envelope"></a>
                </div>
            </div>
    </div>
</div>
<div class="container related">
    @Html.Partial("RelatedCasesPartial", Model.ContentItems)
</div>
