@inject IViewLocalizer Localizer
@model PaginatedList<NewsItem>
@{
    ViewBag.Title = "Nieuws overview";
    Layout = "_Layout";
    var pagination = new PaginationProperties
    {
        PageIndex = Model.PageIndex,
        TotalPages = Model.TotalPages,
        HasNextPage = Model.HasNextPage,
        HasPreviousPage = Model.HasPreviousPage
    };
}
<ol class="breadcrumb">
    <li class="breadcrumb-item"><a asp-controller="Home" asp-action="Index">Home</a></li>
    <li class="breadcrumb-item active">Nieuws</li>
</ol>
<div class="container">
    <div class="row">
        <div class="col-12 text-center">
            <h2>@Localizer["news_and_knowledge"]</h2>
            <p class="introtext">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam dignissim fermentum libero,<br>
                a feugiat quam rutrum nec. Nulla facilisi. Etiam elit turpis, molestie id tincidunt sit amet,<br>
                faucibus et enim. Vivamus non dolor justo.
            </p>
        </div>
    </div>
    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-lg-4 col-md-6 col-12">
                @Html.Partial("NewsItemPartial", item)
            </div>
        }
    </div>
    @Html.Partial("PaginationPartial", pagination)
</div>
@Html.Partial("NewsLetterPartial")
